.button {
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(209, 233, 232);
    font-size: 18px;
    font-style: italic;
}

.button:hover {
    background-color: #a2b3be;
}